<div class="text-center separation">
  <h1>SurfHouses</h1>
</div>

  <div id = "myflats">

    <div class="container">
      <div class="row">
            <ul>
              <% @flats.each do |flat| %>
              <div class="col-xs-12 col-md-4">
                <li class = "flat-card">
                  <% if flat.picture.exists? %>
                      <%= image_tag flat.picture.url(:medium) %>
                  <% else %>
                      <%= image_tag "defopic.png"%>
                  <% end %>
                    <div class="flat-card-text">
                      <p><strong><%= flat.title %> - <%= flat.price %>€/nuit</strong></p>
                      <p><%= flat.city %></p>
                      <p><%= flat.property_type %> - <%= flat.room_type %></p>
                      <p><%= link_to "Modifier les informations", edit_user_flat_path(current_user, flat) %></p>
                      <p><%= link_to "Supprimer mon annonce", user_flat_path(current_user, flat), method: :delete %></p>

                    </div>
                  </li>
                </div>
              <% end %>
            </ul>
      </div>
    </div>
  </div>

