<div class = "separation">
  <h1 class = "text-center">Vos résultats de recherche</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">

        <% @flats.each do |flat| %>
          <div class = "flat-card">
            <% if flat.picture.exists? %>
              <%= image_tag flat.picture.url(:medium) %>
            <% else %>
              <%= image_tag "defopic.png"%>
            <% end %>
            <div class="flat-card-text">
              <p><strong><%= link_to(flat.title, user_flat_path(flat.user_id,flat)) %></strong> - <%= flat.price %> € / nuit</p>
              <p><strong>Propriété : </strong><%= flat.property_type %> - <%= flat.room_type %></p>
            </div>
          </div>
        <% end %>

    </div>
    <div class="col-xs-6">
      <div id="map" style="width: 100%; height: 400px;"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
        <% end %>
    </div>
  </div>
</div>



