<div class="text-center separation">
  <h1>Détail de l'appartement</h1>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-9">
      <li class = "flat-card">
         <div class="flat-picture" style="background-image: url(<%= asset_path @flat.picture.url(:medium) %>); height: 300px; background-size: cover;">
                    </div>
         <div class="flat-card-text">
          <p><strong><%= @flat.title %></strong></p>
          <p><strong>Propriété : </strong><%= @flat.property_type %> - <%= @flat.room_type %></p>
          <p><strong> Nombre de personnes : </strong> <%= @flat.capacity %></p>
          <p><strong> Adresse : </strong><%= @flat.street %> </p>
          <p><strong> Ville : </strong><%= @flat.zip_code %> <%= @flat.city %></p>
          <p><%= @flat.presentation %></p>
          <p><strong> Tarif : </strong><%= @flat.price %> € / nuit</p>
        </div>
      </li>
    </div>

    <div class="col-xs-3">
      <div class="row">
        <div class="col-xd-12">
          <div id="pricing">
            <div id="price_amount" class="pull-left">
              <%= @flat.price %>€
            </div>
            <div class="pull-right">
              <div id="per_night">Par nuit</div>
            </div>
          </div>
        </div>

      <div class="panel-light">
        <%= simple_form_for([@flat.user, @flat, @flat.bookings.build]) do |f| %>
          <%= f.input :date_arrival, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :date_departure, as: :string, input_html: { class: "datepicker" } %>

          <div class="col-xs-4">
            <%= f.input :people_number, placeholder:"Voyageurs", label:"Voyageurs" %>
          </div>
          <div class="col-xs-12">
            </div>
          <div class="col-xs-12">
            <%= f.button :submit, class: "btn btn-primary btn-block", value: "Réservez l'appartement" %>
          </div>
        <% end %>
      </div>



