<div = "separation"></div>

<div class="container">
  <div class="row">

    <div class="col-xs-9">
      <li class = "flat-card">
         <div class="flat-picture" style="background-image: url(<%= asset_path @flat.picture.url(:medium) %>); height: 300px; background-size: cover;">
                    </div>
         <div class="flat-card-text">
          <p><strong><%= @flat.title %></strong></p>
          <p><strong>Propriété : </strong><%= @flat.property_type %> - <%= @flat.room_type %></p>
        </div>
      </li>
    </div>

    <div class="col-xs-3">
      <div class="row">
        <div class="col-xd-12">
          <div id="pricing">
            <div id="price_amount" class="pull-left">
              <%= @flat.price %>€
            </div>
            <div class="pull-right">
              <div id="per_night">Par nuit</div>
            </div>
          </div>
        </div>

      <div class="panel-light">
        <%= simple_form_for([@flat.user_id, @flat, @flat.bookings.build]) do |f| %>
          <div class="col-xs-4">
<<<<<<< HEAD
            <label for="name">Arrivée</label>
            <input placeholder="Arrivée" type="text" data-provide='datepicker' name="date_arrival" id="date_arrival" class="form-control">
          </div>
          <div class="col-xs-4">
            <label for="name">Départ</label>
            <input placeholder="Départ" type="text" data-provide='datepicker' name="date_departure" class="form-control">
=======
            <%= f.input :date_arrival, label:"Arrivée" %>
          </div>
          <div class="col-xs-4">
            <%= f.input :date_departure, label:"Départ" %>
>>>>>>> 5fca56385d9d7e014c132ca4ddd429cf449dba6b
          </div>
          <div class="col-xs-4">
            <%= f.input :people_number, placeholder:"Voyageurs", label:"Voyageurs" %>
          </div>
          <div class="col-xs-12">
            <tr>
              <td>
                <%= @flat.price %>€ x 3 nuits
              </td>
              <td >
                = <%= @flat.price * 3 %> euros
              </td>
            </tr>
            </div>
          <div class="col-xs-12">
            <%= f.button :submit, class: "btn btn-primary btn-block", value: "Réservez l'appartement" %>
          </div>
        <% end %>
      </div>



