<div class="container">
  <div class="row">

    <div class="col-xs-9">
    </div>

    <div class="col-xs-3">
      <div class="row">
        <div class="col-xd-12">
          <div id="pricing">
            <div id="price_amount" class="pull-left">
              <%= @flat.price %>€
            </div>
            <div class="pull-right">
              <div id="per_night">Par nuit</div>
            </div>
          </div>
        </div>

      <div class="panel-light">
        <%= simple_form_for([@flat.user_id, @flat, @flat.bookings.build]) do |f| %>
          <div class="col-xs-4">
            <%= f.input :date_arrival, label:"Arrivée" %>
          </div>
          <div class="col-xs-4">
            <%= f.input :date_departure, label:"Départ" %>
          </div>
          <div class="col-xs-4">
            <%= f.input :people_number, placeholder:"Voyageurs", label:"Voyageurs" %>
          </div>
          <div class="col-xs-12">
            <tr>
              <td>
                <%= @flat.price %>€ x 3 nuits
              </td>
              <td >
                <%= @flat.price * 3 %>
              </td>
            </tr>
            </div>
          <div class="col-xs-12">
            <%= f.button :submit, class: "btn btn-primary btn-block", value: "Réservez l'appartement" %>
          </div>
        <% end %>
      </div>



